@import url(styles.css);

#menu {
    display: none;
}

#menu.active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 2;
    background-color: rgba(200, 200, 200, 0.5);
    backdrop-filter: blur(20px);
}

.menu__lista {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu__lista li {
    width: 100%;
    padding: 2.5rem;
    text-align: center;
}

.menu__lista a {
    text-decoration: none;
    color: black;
    font-size: 2rem;
}